* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: linear-gradient(280.84deg, #3E83F8 10.86%, #00C8E9 90.14%);
  background-size: contain no-repeat;
  width: 100%;
}

main {
  position: relative;
}

main .container {
  background-color: #fff;
  width: 90%;
  height: 100%;
  max-width: 740px;
  margin: 5% auto;
  padding: 5px;
  border-radius: 8px;
}

main .container section {
  width: 90%;
  margin: 20px auto;
  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .container section h1 {
  font: 38px 'Ubuntu';
  text-align: center;
  font-weight: bold;
  color: #6c3508;
  margin-bottom: 20px;
}

main .container section form {
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .container section form .input-group {
  width: 50%;
  height: 100%;
  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main .container section form .input-group label {
  font: 18px 'Ubuntu';
  font-weight: bold;
  line-height: 16px;
  color: #6c3508;
}

main .container section form .input-group input {
  width: 36%;
  height: 42px;
  margin: 5px 0 8px;
  padding: 2px 8px;
  border-radius: 10px;
  border: 2px solid #00C8E9;
  outline: 0;
  font: 1.6rem 'Ubuntu';
  background-color: #F8F8FC;
}

main .container section form .input-group input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}

main .container section form button {
  border-radius: 8px;
  height: 48px;
  width: 30%;
  background: #00C8E9;
  color: #FFF;
  font: 18px 'Ubuntu';
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}
main .container section form button:hover {
  opacity: 0.6;
}

main .container .result-group {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 90%;
}

main .container .resultCases {
  width: 40%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

main .container .resultCases p {
  list-style: none;
  font: 16px 'Ubuntu';
  line-height: 24px;
  font-weight: 500;
  color: #6c3508;
  margin-bottom: 10px;
}
main .container .orderDeaths {
  width: 50%;
}

main .container .orderDeaths p {
  font: 18px 'Ubuntu';
  font-weight: 500;
  line-height: 24px;
  text-align: justify;
  color: #6c3508;
}

main .container  .survivor {
  margin: 30px auto 16px;
  width: 90%;
}

main .container  .survivor h3 {
  font: 20px 'Ubuntu';
  font-weight: bold;
  text-align: center;
  padding: 10px;
  line-height: 18px;
  color: #6c3508;
}

main .btn-group {
  display: none;
}

main .btn-style {
  width: 140px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  position: fixed;
  bottom: 6%;
  right: 2%;
}

main .btn-group label {
  font: 16px 'Ubuntu';
  font-weight: bold;
  text-align: center;
  line-height: 22px;
  color: #fff;
}

main .btn-group button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  background: #fff;
  cursor: pointer;
}

main .btn-group button img {
  width: 50%;
  height: 60%;
}